src/main/resources/userservice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="service/model/soap/userservice"
			xmlns:tns="service/model/soap/userservice"
			elementFormDefault="qualified">

<xsd:element name="GetUserByIdRequest">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:element name="UserRes">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" />
			<xsd:element name="username" type="xsd:string" />
			<xsd:element name="role" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>
</xsd:schema>
